doctype 5
html(ng-app='App')
  head
    title= title
    != css('app')
    != js('app')
  body

    .navbar.navbar-inverse.navbar-static-top
      .navbar-inner
        .container
          .nav-collapse.collapse
            ul.nav
              li
                a(href='/#/') Home
              li
                a(href='/#/samples') Sample

    .content.main.container
      block content
